<!-- Blog Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= truncate(@post.title, length: 60, seperate: '') %></h1>
                    <span class="meta"><%= @post.created_at.strftime("%B %d, %Y") %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p><%= @post.content.html_safe %></p>
            </div>
        </div>
    </div>
</article>



<!-- Footer -->
<footer>
    <div class="container text-center">
	    <p>platzcoffee@gmail.com | 031.214.0726 | 010.2555.0698</p>
        <p>Copyright &copy; Platz Coffee 2016</p>
    </div>
</footer>